#! /usr/bin/env bash

cachix use nix-shell
cachix use php-src-nix

use flake

export OTEL_PHP_AUTOLOAD_ENABLED=true
export OTEL_SERVICE_NAME=symfony-demo
export OTEL_TRACES_EXPORTER=otlp
export OTEL_EXPORTER_OTLP_PROTOCOL=http/json
export OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
export OTEL_PROPAGATORS=baggage,tracecontext
export OTEL_PHP_DISABLED_INSTRUMENTATIONS=io
# export OTEL_PHP_DISABLED_INSTRUMENTATIONS=symfony,pdo,io,psr3,psr14,psr15,psr18